*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FCFCFC;
}
p.texto1{
    color: blue;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: crimson;
}
table, tr, td{
    border: 2px solid black;
    border-radius: 8px;
}
table{
    background-color: #fff;
}
td{
    padding: 5px;
    text-align: center;
    justify-content: center;
}
.imagem{
    margin: 5px 10px;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem crimson);
}